<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="icon" href="/images/weather.png"/>

    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>


    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>
</html>